.App {
  text-align: center;
  background-color: #43576e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 5% 10% 5% 10%;
}

.App-link {
  color: #61dafb;
}
